---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import Testimonials from '../../components/Testimonials.astro';
import Services from "../../components/Services.astro";
import HowWeWork from "../../components/HowWeWork.astro";

import countries from 'countrycitystatejson';
import slugify from 'slugify';

export async function getStaticPaths() {
	const usa = countries.getCountryByShort('US');
	const florida = usa.states['Florida'];

	return florida.map((city) => {
		const slug = slugify(city.name, { lower: true, strict: true });
		return {
			params: { city: slug },
			props: { title: city.name.replace("''", "'") + ', FL Digital Agency | Kelp Creative Agency' }
		};
	});
}

const { title } = Astro.props;


const data = {
	model: "gpt-3.5-turbo",
	messages: [
		{
			role: "system",
			content:
				"You are an SEO expert for a marketing agency that helps get clients to the first page of Google search results by writing helpful content."
		},
		{ role: "user", content: `write a paragraph of text for a city page for a digital agency called "Kelp" and about why a local agency to ${title} is important, try to include some unique info about said city.` }
	],
	temperature: 0.7,
	max_tokens: 700
};

const chatGpt = await fetch("https://api.openai.com/v1/chat/completions", {
	headers: {
		Authorization: `Bearer ${import.meta.env.OPENAI_KEY}`,
		"Content-Type": "application/json"
	},
	method: "POST",
	body: JSON.stringify(data)
});
const response = await chatGpt.json();
const text = response.choices[0].message.content;


const data2 = {
	model: "gpt-3.5-turbo",
	messages: [
		{
			role: "system",
			content:
				"You are an SEO expert for a digital agency that helps get clients to the first page of Google search results by writing helpful content."
		},
		{ role: "user", content: `write a meta description for a city page about a digital agency called "Kelp" local to ${title}, keep it under 170 characters and don't put it in quotation marks.` }
	],
	temperature: 0.7,
	max_tokens: 700
};
const chatGpt2 = await fetch("https://api.openai.com/v1/chat/completions", {
	headers: {
		Authorization: `Bearer ${import.meta.env.OPENAI_KEY}`,
		"Content-Type": "application/json"
	},
	method: "POST",
	body: JSON.stringify(data2)
});
const response2 = await chatGpt2.json();
const text2 = response2.choices[0].message.content;


---

<Layout
	title={title}
	description={text2}
>
	<SimpleHero
		tagline='Digtal Agency serving:'
		title={title.replace('Digital Agency | Kelp Creative Agency', '')}
		description={text2}
	/>
	<div class='wrapper wrapper--narrow dark' style='margin-bottom: 150px;'>
		<h2 class='h3'>Why a local digital agency is important</h2>
		<p>{ text }</p>
	</div>
	<Services />
	<HowWeWork />
	<Testimonials />
</Layout>
