---
import Layout from "../../Base.astro";
import { Picture } from "astro-imagetools/components";
import readingTime from "reading-time";

export async function getStaticPaths() {
	const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/categories?per_page=100`);
	const posts = await response.json();
	return posts.map((category) => {
		return {
			params: { category: category.slug },
			props: {
				title: category.name,
				slug: category.slug,
				id: category.id
			}
		};
	});
}

const { title, slug, id } = Astro.props;

const requestCategories = await fetch(`${import.meta.env.PUBLIC_WP_URL}/categories?per_page=100`);
const categories = await requestCategories.json();

const requestPosts = await fetch(`${import.meta.env.PUBLIC_WP_URL}/posts?per_page=100&categories=${id}`);
const posts = await requestPosts.json();
---

<Layout title='Kelp Current'>
	<article class="wrapper archive">
		<aside class="archive-sidebar">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 355.9 74.1" width="355.9" height="74.1">
				<title>The Kelp Blog</title>
				<path fill="#42c634" d="M0 57h5a17 17 0 0 1-1-6c3-1 9-2 14 1v-9c-5 3-11 2-14 1a29 29 0 0 1 1-6H0Zm0-39v9l7-2a11 11 0 0 1 0 3 11 11 0 0 1 0 3l-7-2v9s10-5 18 0v-9l-7 2a11 11 0 0 1 0-6l7 2v-9c-8 4-18 0-18 0ZM12 0H6a10 10 0 0 1 1 5l-2 6-2-6a10 10 0 0 1 1-5H0v17s10-4 18 0V0h-4a10 10 0 0 1 1 5l-2 6c-1 0-3-3-3-6a10 10 0 0 1 2-5Z" />
				<path fill="#0d1726" d="M65 32 82 0H58a32 32 0 0 1-1 13c-2 8-6 14-9 14s-4-9-2-17a35 35 0 0 1 4-10H24s14 32 0 57h25a25 25 0 0 1-2-7c-2-6-1-13 2-13s7 4 9 10a22 22 0 0 1 1 10h23c0-14-17-25-17-25Zm73 4V20c-3 2-9 4-16 4-10 0-19-3-19-7s9-7 19-7c7 0 13 1 16 3V0H84s14 32 0 57h54V44c-3 2-9 3-16 3-10 0-19-3-19-7s9-7 19-7c7 0 13 1 16 3Zm44-4c-2 10-8 17-11 16-3 0-4-4-5-12-2-19 6-36 6-36h-29s14 32 0 57h49V32Zm60-32h-42s7 37-6 57h31s-4-10-4-18c31 2 37-6 37-23 0-7-2-16-16-16Zm-13 26c-8 0-15-4-15-8s7-7 15-7 16 4 16 7-7 8-16 8Z" />
				<path fill="#42c634" d="M292 18a6 6 0 0 0-3-5c-5-3-16 1-21 7s-5 13-8 19l-2 6c-1 1-3 4-5 4-4 1-5-2-5-3s0-1 0 0c-5 5-4 12 2 11 4 0 7-3 9-5a7 7 0 0 0 4 5c8 2 16-2 20-9a18 18 0 0 0 3-12 9 9 0 0 0-3-5h1c5-3 8-8 8-13Zm-10 23a11 11 0 0 1-6 7 16 16 0 0 1-3 1c-6 1-11-1-10-7 2-3 5-6 9-7a12 12 0 0 1 6 0 5 5 0 0 1 4 6Zm-4-13c-4 1-8 1-11 4l3-6c1-3 4-5 7-5a14 14 0 0 1 6-1 4 4 0 0 1 3 2c2 3-6 6-8 6Zm25-15h-4l-11 30v1a28 28 0 0 0-2 8 5 5 0 0 0 4 5c2 1 6-1 8-3a13 13 0 0 0 2-4 12 12 0 0 0 1-2l-1-2a15 15 0 0 1-2 3c-3 1-5 2-6 0v-5l11-31Zm18 33a46 46 0 0 0 5-1v-3a29 29 0 0 1-4 1 17 17 0 0 0 1-3 12 12 0 0 0 0-5 7 7 0 0 0-4-5c-4-2-10 0-15 4a20 20 0 0 0-2 3c-4 5-6 11-4 16a7 7 0 0 0 6 4c7 1 13-4 17-10v-1Zm-15 3a6 6 0 0 1-2-1c-2-1-2-4-1-6a12 12 0 0 1 6-6v1l-1 1a10 10 0 0 0 0 1 9 9 0 0 0 0 1 6 6 0 0 0 0 1v1a4 4 0 0 0 1 1 4 4 0 0 0 0 1 6 6 0 0 0 2 1 9 9 0 0 0 3 1l2 1c-3 2-7 3-10 2Zm12-6a9 9 0 0 1 0 1 8 8 0 0 1-5-2 3 3 0 0 1-1-4 5 5 0 0 1 2-2 5 5 0 0 1 1 0h1c2 1 4 4 2 7Zm30 7c-5-2 5-21 5-21h-4l-1 4a4 4 0 0 0-2-2c-5-4-12-1-17 6a22 22 0 0 0-4 7c-1 4-1 8 1 10a6 6 0 0 0 6 3c-4 6-6 11-5 14 0 3 2 3 2 3h1l5-2 9-16a5 5 0 0 0 2 1c5 1 11-7 10-12 0 0-4 7-8 5Zm-16 19h-1a4 4 0 0 1 0-2c1-2 3-7 8-12l-7 14Zm12-26c-2 5-8 8-13 6a6 6 0 0 1-2-1c-1-1-2-4 0-6a12 12 0 0 1 7-6 10 10 0 0 1 5 0c3 1 4 4 3 7Z" />
			</svg>
			<h2 class="h4">Helpful resources. <br>Creative Insight.</h2>
			<p>Join us on a journey where creativity meets problem-solving and success. Be inspired, educated, and harness the power of creativity to reach your goals.</p>
			<p><strong>Ready to fuel up on fresh ideas?<br> Let’s dive in!</strong></p>
			<h3>Topics</h3>
			<ul>
				<li><a href="/blog">All Articles</a></li>
				{ 
					categories.map((cat) => (
						<li><a href=`/blog/${cat.slug}`>{cat.name}</a></li>
					))
				}
			</ul>
		</aside>
		{
			posts.map((post) => (
				<article class="archive-tease" data-lg-reveal="layer-to-right" data-lg-reveal-stagger="0.15">
					<div class="media">
						<Picture src={post.fimg_url} alt={post.title.rendered} loading="lazy" />
					</div>
					<div class="text">
						<p class="text-meta">
							<span>{ new Date(post.date).toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric" }) }</span>
							<span>{ readingTime(post.content.rendered).text }</span>
							<span>{categories.find(cat => cat.id === post.categories[0]).name}</span>
						</p>
						<h2 class="h5"><a href=`/blog/${post.slug}` set:html={post.title.rendered}/></h2>
						<div set:html={post.excerpt.rendered} />
					</div>
				</article>
			))
		}
	</article>
</Layout>
