---
// Fetch your about page content from the WordPress API
import FeaturedArticles from '../../components/FeaturedArticles.astro';
import Layout from '../../Base.astro';
import BlogSingleSidebar from '../../components/BlogSingleSidebar.astro';
import { Picture } from 'astro-imagetools/components';

export async function getStaticPaths() {
	const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/posts?per_page=100&_embed`);
	const posts = await response.json();

	const requestCategories = await fetch(`${import.meta.env.PUBLIC_WP_URL}/categories?per_page=100`);
	const categories = await requestCategories.json();

	return posts.map((post) => {
		return {
			params: { slug: post.slug },
			props: {
				title: post.title.rendered,
				description: post.excerpt.rendered.replace(/(<([^>]+)>)/gi, ''),
				image: post.fimg_url,
				content: post.content.rendered,
				id: post.id,
				categories: post.categories,
				allCategories: categories,
				author: post._embedded.author,
				schema: JSON.stringify({
					'@context': 'https://schema.org',
					'@type': 'Article',
					headline: post.title.rendered,
					description: post.excerpt.rendered.replace(/(<([^>]+)>)/gi, ''),
					datePublished: post.date,
					dateModified: post.modified,
					image: [post.fimg_url],
					author: [
						{
							'@type': 'Person',
							name: post._embedded.author[0].name,
							url: post._embedded.author[0].url
						}
					],
					mainEntityOfPage: {
						'@type': 'webPage',
						id: Astro.url
					}
				})
			}
		};
	});
}

const { title, content, id, author, schema, image, description, categories, allCategories } = Astro.props;
const comments = await fetch(`${import.meta.env.PUBLIC_WP_URL}/comments?post=${id}`);
const jsonComments = await comments.json();
const category = {
	slug: allCategories.find((cat) => cat.id === categories[0]).slug,
	name: allCategories.find((cat) => cat.id === categories[0]).name,
	id: allCategories.find((cat) => cat.id === categories[0]).id
};
---

<Layout title={title} description={description} image={image} bodyClass='blog-post' schema={schema} darkHeader={true}>
	<article class='wrapper single'>
		<div class='single-article'>
			<h1 set:html={title} />
			<Picture src={image} alt={description} loading='eager' />
			<div class='single-article-content' set:html={content} />
			{
				jsonComments.length > 0 && (
					<section class='single-article-comments'>
						<h4>Comments</h4>
						{jsonComments.map(
							(comment) =>
								comment.parent == 0 && (
									<div class='single-article-comments-item'>
										<img
											class='single-article-comments-item-img'
											src={comment.author_avatar_urls['96']}
											width='48'
											loading='lazy'
										/>
										<h4 class='single-article-comments-item-name h6'>{comment.author_name} says</h4>
										<div class='single-article-comments-item-body' set:html={comment.content.rendered} />
										{jsonComments.map(
											(reply) =>
												reply.parent == comment.id && (
													<div class='single-article-comments-item single-article-comments-item--reply'>
														<img
															class='single-article-comments-item-img'
															src={reply.author_avatar_urls['96']}
															width='48'
															loading='lazy'
														/>
														<h4 class='single-article-comments-item-name h6'>{reply.author_name} says</h4>
														<div class='single-article-comments-item-body' set:html={reply.content.rendered} />
													</div>
												)
										)}
									</div>
								)
						)}
					</section>
				)
			}
			<section class='single-article-leave-a-comment'>
				<h4>Leave a Comment</h4>
				<hr />
				<form>
					<label
						>Your Name<br />
						<input type='text' placeholder='Johnny Boy' required />
					</label>
					<label
						>Your Email<br />
						<input type='email' placeholder='name@example.com' required />
					</label>
					<label
						>Your Comment<br />
						<textarea placeholder='whats with the squid 🦑' required></textarea>
					</label>
					<input type='hidden' name='post' value={id} />
					<button class='button' type='submit'>Post Comment</button>
				</form>
			</section>
		</div>
		<BlogSingleSidebar author={author[0]} category={category} />
	</article>
	<FeaturedArticles />
</Layout>
