---
// Fetch your about page content from the WordPress API

import Layout from "../../Base.astro";

export async function getStaticPaths() {
	const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/posts?per_page=100`);
	const posts = await response.json();
	return posts.map((post) => {
		return {
			params: { slug: post.slug },
			props: { title: post.title.rendered, content: post.content.rendered, id: post.id }
		};
	});
}

const { title, content, id } = Astro.props;
const comments = await fetch(`${import.meta.env.PUBLIC_WP_URL}/comments?post=${id}`);
const jsonComments = await comments.json();
---

<Layout title={title} bodyClass='blog-post'>
	<article>
		<div class='wrapper'>
			<h1 data-splitting data-lg-reveal='fade' data-lg-reveal-stagger='0.1' set:html={title} />
		</div>
		<div
			data-lg-reveal='fade'
			data-lg-reveal-stagger='0.1'
			data-lg-reveal-delay='0.3'
			style='margin-bottom: 8rem;'
			class='wrapper wrapper--narrow'
			set:html={content}
		/>
		{
			jsonComments.length > 0 && (
				<section class='wrapper wrapper--narrow comments'>
					<h4>Comments</h4>
					{jsonComments.map(
						(comment) =>
							comment.parent == 0 && (
								<div class='comments-item'>
									<img class='comments-item-img' src={comment.author_avatar_urls["96"]} loading='lazy' />
									<h4 class='comments-item-name h6'>{comment.author_name} says</h4>
									<div class='comments-item-body' set:html={comment.content.rendered} />
									{jsonComments.map(
										(reply) =>
											reply.parent == comment.id && (
												<div class='comments-item comments-item--reply'>
													<img
														class='comments-item-img'
														src={reply.author_avatar_urls["96"]}
														loading='lazy'
													/>
													<h4 class='comments-item-name h6'>{reply.author_name} says</h4>
													<div class='comments-item-body' set:html={reply.content.rendered} />
												</div>
											)
									)}
								</div>
							)
					)}
				</section>
			)
		}
		<div class='leave-a-comment wrapper wrapper--narrow'>
			<h4>Leave a Comment</h4>
			<hr />
			<form>
				<label
					>Your Name<br />
					<input type='text' placeholder='Johnny Boy' required />
				</label>
				<label
					>Your Email<br />
					<input type='email' placeholder='name@example.com' required />
				</label>
				<label
					>Your Comment<br />
					<textarea placeholder='whats with the squid 🦑' required></textarea>
				</label>
				<input type='hidden' name='post' value={id} />
				<button class='button' type='submit'>Post Comment</button>
			</form>
		</div>
	</article>
</Layout>
