---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import { Picture } from 'astro-imagetools/components';
import FeaturedArticles from "../../components/FeaturedArticles.astro";

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=3&tags=75`);
const posts = await response.json();
---

<Layout
	title='Custom Applications'
	description="We’ll use the latest technologies, from PHP to Node.js, and we’ll help you choose the best option for your business needs. We’ll work with you to develop a system that is easy to use and maintain—and that works on any device."
>
	<SimpleHero tagline='Content Creation Services' title='Applications' description="We’ll use the latest technologies, from PHP to Node.js, and we’ll help you choose the best option for your business needs. We’ll work with you to develop a system that is easy to use and maintain—and that works on any device" lottieFile="content-creation.json"/>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why custom applications matter</h2>
			<p>
				Custom applications can be tailered to meet extremely specific needs and requirements that you require. Common
				use-cases for custom applications include building intuitive user experiences designed specifically for a niche audience,
				integrations with other business systems, or unique performance requirements such as the ability to work
				offline.
			</p>
			<h2>How we approach custom applications</h2>
			<ol>
				<li>
					<strong>Discovery:</strong> first we work with the you to understand your business needs, goals, and target audience
					for the application.
				</li>
				<li>
					<strong>Design:</strong> next, we'll create wireframes and prototypes of the application to visualize the user
					flow and layout of the application.
				</li>
				<li>
					<strong>Development:</strong> we'll build the application according to the design specifications. This involves
					writing code, integrating with APIs and other systems, and testing the application.
				</li>
				<li>
					<strong>Deployment:</strong> launch the application and make it available to users. This may involve hosting the
					application on a server and/or making it available via app stores.
				</li>
				<li>
					<strong>Maintenance:</strong> ongoing support and maintenance for the application, including bug fixes, security
					updates, and new feature development as needed.
				</li>
			</ol>
			<p><a href='/contact' class='button button--green'>Let's Talk</a></p>
		</div>
		{posts.length > 0 && 
			<div class="service-related-work wrapper">
				<div class="service-related-work-left">
					<h2 data-lg-sticky="top">Check Out <br/>Our Work</h2>
				</div>
				<div class="service-related-work-right">
					<svg data-lg-scroll xmlns="http://www.w3.org/2000/svg" width="161" height="152.6">
						<g fill="#42c634">
							<path d="M93.2 101c-.3-1.5-2.6-3-4.5-4.3l-1.2-.8a6 6 0 0 1-3-4.5 5.3 5.3 0 0 1 2.2-4.5l3.2-2c2.8-1.6 3.8-4 2.7-6.2-.5-1.5-3.1-3-5.2-4.3l-1.5-1c-2.1-1.2-3.3-3-3.3-4.8a6 6 0 0 1 3.1-5c1.4-.8 3-1.8 3.6-3 1.3-2.2.3-5-2.5-6.8l-3.5-2.4a5.5 5.5 0 0 1-2.7-5.2L78.1 48l-4.3 3a5.2 5.2 0 0 0-1.8 4.3 4.6 4.6 0 0 0 2.2 3.4l3.6 2.5a6 6 0 0 1 3 4.5 5.4 5.4 0 0 1-2.2 4.5l-3.1 2c-3 1.8-4 4.6-2.4 6.8.7 1.2 3 2.6 4.8 3.7.6.3 1.2.6 1.6 1 2.1 1.2 3.3 2.9 3.3 4.8a6 6 0 0 1-3.1 5l-1.6 1a5 5 0 0 0-2.6 4 5.7 5.7 0 0 0 3 4.8l1 .6c1.5 1 3.6 2.4 4.1 3.3a5 5 0 0 1 1 3.7c1.7-1.2 3.5-2.5 5.6-3.8 2.5-1.7 3.7-4 3-6.1Z" />
							<path d="M114.7 92.1a4.7 4.7 0 0 0-2-2.6l-3.8-2.5a5.8 5.8 0 0 1-3-4.9 6.2 6.2 0 0 1 3.4-5l1.7-1a4.8 4.8 0 0 0 2.7-4.2c0-1.8-1.3-3.6-3.5-4.8a70 70 0 0 1-4.3-2.5c-2.5-1.4-4-3.5-4-5.5l-2.3 1.6a49.3 49.3 0 0 0-4.7 3.5 4.4 4.4 0 0 0-1.4 3.9 6 6 0 0 0 3.2 4l4.2 2.5c2 1.2 3.2 2.9 3.3 4.6a5.4 5.4 0 0 1-2.5 4.7 15.4 15.4 0 0 1-1.8 1l-.9.6a5.9 5.9 0 0 0-3.2 4.6 5 5 0 0 0 2.5 4.3l1 .7c1.5 1 3.5 2.4 4 3.4a4.2 4.2 0 0 1 .3 3.8l7-4c3.1-1.7 4.6-4 4-6.2Z" />
							<path d="m68 82.5-4-2.6c-2.2-1.2-3.3-3-3.3-4.8 0-2 1.3-3.8 3.5-5l1.8-1a5.9 5.9 0 0 0 3.3-4.6 5 5 0 0 0-2.4-4.4l-3.3-2.4a4.4 4.4 0 0 1-1.7-5.3l-2.2 1.2-6.4 3.7a5.7 5.7 0 0 0-2.6 4.5 4 4 0 0 0 2 3.3l3.6 2.5A5.7 5.7 0 0 1 59 72a5.8 5.8 0 0 1-2.7 4.7 15.1 15.1 0 0 1-1.7 1.1l-.9.6C52 79.5 51 81 51 82.8c0 1.8 1.3 3.4 3.4 4.6l1.6 1a23.9 23.9 0 0 1 4.8 3 5.8 5.8 0 0 1 1.9 4.1l6-4.1c2.5-1.7 3.3-4 2.2-6.3a7 7 0 0 0-2.7-2.6Z" />
							<path d="M98.3 106v2h-.7v-2h-1v-.6h2.7v.6Z" data-name="Path 90"/>
							<path d="M102.3 108v-1.7l-.9 1.1-.9-1v1.6h-.7v-2.6h.8l.8 1.1.9-1h.7v2.5Z" data-name="Path 91"/>
						</g>
						<path class="rotate-text" fill="#fff" d="m55.5 151.1 1.5-4.7-4.7-1.5 1.3-4 4.6 1.6 3.3-10.2a1.8 1.8 0 0 0 0-1.4 2.3 2.3 0 0 0-1.4-.9l-2.8-.9 1.3-4 3.5 1.1A6.7 6.7 0 0 1 66 129a5.7 5.7 0 0 1 .1 4.8L63 144l2.3.8-1.3 3.9-2.2-.7-1.5 4.7Zm26.8-.6a9.1 9.1 0 0 1-4.2-1 9.3 9.3 0 0 1-2.3-1.6v2.3H71v-20.7h4.8v2.3a9.1 9.1 0 0 1 2.4-1.7 9.2 9.2 0 0 1 4.3-1 9.2 9.2 0 0 1 4.9 1.4 9.8 9.8 0 0 1 3.5 3.8 11.8 11.8 0 0 1 1.4 5.6 11.5 11.5 0 0 1-1.3 5.5 9.5 9.5 0 0 1-8.5 5.1Zm-3.6-16.3a5.6 5.6 0 0 0-2.1 2.2 7 7 0 0 0-.8 3.5 6.9 6.9 0 0 0 .8 3.4 5.6 5.6 0 0 0 2.1 2.2 5.5 5.5 0 0 0 2.8.7 5.5 5.5 0 0 0 4.9-3 6.8 6.8 0 0 0 .8-3.3 7 7 0 0 0-.9-3.5 5.7 5.7 0 0 0-2-2.2 5.4 5.4 0 0 0-2.8-.7 5.5 5.5 0 0 0-2.8.7Zm24.8 11.6a9.2 9.2 0 0 1-4.7-2 10.9 10.9 0 0 1-3.2-4.4 13.6 13.6 0 0 1-.7-2v-.3l.2-.1 13.7-5.7a5 5 0 0 0-4.4-2.7 5.7 5.7 0 0 0-2.2.5 4.5 4.5 0 0 0-3 4v.3l-4.9 2v-.5a9.4 9.4 0 0 1 1.4-5.7 10 10 0 0 1 5-4 11 11 0 0 1 4.1-.9 10 10 0 0 1 1.2 0 9.6 9.6 0 0 1 4.9 2.1 11.5 11.5 0 0 1 3.4 4.7 11.7 11.7 0 0 1 1 5.7 9.2 9.2 0 0 1-2 4.9 11.7 11.7 0 0 1-8.7 4.1 10 10 0 0 1-1.1 0Zm-2.6-6.8a4.2 4.2 0 0 0 2.5 2.2 5.1 5.1 0 0 0 1.6.3 6 6 0 0 0 2.3-.5 4.9 4.9 0 0 0 2.7-2.5 5.2 5.2 0 0 0 .4-3.4Zm-59 .5.2-.3 6.4-9.1a5.5 5.5 0 0 0 1.2-3.9 4.4 4.4 0 0 0-2-3 4.8 4.8 0 0 0-2.7-1 4.1 4.1 0 0 0-.8.1 5.4 5.4 0 0 0-3.3 2.4l-6.6 9.5-4-2.9 12-17 4 2.9-1 1.5a6.8 6.8 0 0 1 .9-.1 7.8 7.8 0 0 1 1.4.1 8.5 8.5 0 0 1 3.3 1.5 9.4 9.4 0 0 1 3 3.3 7.5 7.5 0 0 1 .8 4.3 9.8 9.8 0 0 1-1.8 4.6l-7 10Zm82.3-1.6.3-.3 7.7-6.9-4.5-5-6.2 5.6-2.8-3 6.2-5.6-7.4-8.2 3.7-3.3.2.3 17.1 19L127 141Zm-102.7-17 1.7-1.3a6.9 6.9 0 0 1-2.3-.6 7.5 7.5 0 0 1-3-2.4l-.2-.3 4-3 .8 1a4.7 4.7 0 0 0 3 2.1 2.7 2.7 0 0 0 .4 0 6.2 6.2 0 0 0 3.5-1.5l8.6-6.6 3 3.9-.3.2-16.2 12.3Zm-2.8-12.4a9.2 9.2 0 0 1-4.8-2.1 11 11 0 0 1-3.1-4.6 10.6 10.6 0 0 1-.6-5.4 9.1 9.1 0 0 1 2.1-4.6 10.9 10.9 0 0 1 4.6-3 13.6 13.6 0 0 1 2-.6h.3l5.2 14.2a5 5 0 0 0 2.5-2.6 5.3 5.3 0 0 0 0-4 4.5 4.5 0 0 0-4-3.2h-.2L21 87.7h.8a9.4 9.4 0 0 1 5.2 1.6 10 10 0 0 1 3.9 5.1 10.6 10.6 0 0 1 .5 5.5 9.6 9.6 0 0 1-2.2 4.7 11.5 11.5 0 0 1-4.8 3.2 12.4 12.4 0 0 1-4.3.8 10.4 10.4 0 0 1-1.4 0Zm-4-12a5.5 5.5 0 0 0 .1 4 5 5 0 0 0 4.7 3.3 6.3 6.3 0 0 0 1 0L17.2 94a4.2 4.2 0 0 0-2.3 2.5Zm118.5-8.4.2-4.9 2.4.1a8.6 8.6 0 0 1-1.6-2.3 9.1 9.1 0 0 1-.9-4.3 9.4 9.4 0 0 1 1.6-5 9.8 9.8 0 0 1 4-3.4 11.6 11.6 0 0 1 5-1h.6a11.5 11.5 0 0 1 5.4 1.4 9.5 9.5 0 0 1 4.8 8.8 9.8 9.8 0 0 1-1 4 8.8 8.8 0 0 1-1.8 2.4l9.1.3-.2 5Zm7.6-15.2a5.7 5.7 0 0 0-2.3 2 5.4 5.4 0 0 0-.9 2.8 5.5 5.5 0 0 0 .7 2.8 5.6 5.6 0 0 0 2.1 2.2 7 7 0 0 0 3.4.9h.3a6.7 6.7 0 0 0 3.1-.7 5.7 5.7 0 0 0 2.3-2 5.5 5.5 0 0 0 .8-2.8 5.6 5.6 0 0 0-.6-2.8 5.5 5.5 0 0 0-2-2.1 6.8 6.8 0 0 0-3.4-1h-.4a7 7 0 0 0-3.1.7ZM16.5 85.4a11.5 11.5 0 0 1-5.4-1.5A9.5 9.5 0 0 1 6.3 75a9.8 9.8 0 0 1 1-4 8.8 8.8 0 0 1 1.8-2.4L0 68.4l.2-5 27.6 1-.2 5-2.4-.1a8.6 8.6 0 0 1 1.6 2.3 9.1 9.1 0 0 1 .9 4.4 9.3 9.3 0 0 1-1.6 4.9 9.7 9.7 0 0 1-4 3.4 11.6 11.6 0 0 1-5 1h-.6Zm-2.7-15.7a5.7 5.7 0 0 0-2.3 2 5.5 5.5 0 0 0-.8 2.8 5.5 5.5 0 0 0 2.7 5 6.8 6.8 0 0 0 3.3.9 7.1 7.1 0 0 0 3.5-.7 5.7 5.7 0 0 0 2.3-2 5.4 5.4 0 0 0 .9-2.8 5.5 5.5 0 0 0-.7-2.8 5.6 5.6 0 0 0-2.1-2.2 7 7 0 0 0-3.4-.9h-.3a6.7 6.7 0 0 0-3.1.7ZM134 63.3a10 10 0 0 1-3.9-5.1 10.6 10.6 0 0 1-.5-5.5 9.6 9.6 0 0 1 2.2-4.7 11.5 11.5 0 0 1 4.8-3.2 12.5 12.5 0 0 1 4.3-.8 10.4 10.4 0 0 1 1.4 0 9.2 9.2 0 0 1 4.8 2.2 11 11 0 0 1 3.1 4.6 10.6 10.6 0 0 1 .6 5.4 9.1 9.1 0 0 1-2.1 4.6 10.9 10.9 0 0 1-4.6 3 13.6 13.6 0 0 1-2 .6h-.3l-.1-.2-5.1-14a5.1 5.1 0 0 0-2.5 2.6 5.2 5.2 0 0 0 0 4 4.5 4.5 0 0 0 4 3.2h.2l1.8 4.9h-.9a9.4 9.4 0 0 1-5.2-1.6Zm6.4-14.4 3.5 9.6a4.2 4.2 0 0 0 2.3-2.5 5.5 5.5 0 0 0 0-3.9 5 5 0 0 0-4.7-3.3 6.3 6.3 0 0 0-1 0ZM120 40.4l.3-.2L136.5 28l3 3.8-1.7 1.3a6.8 6.8 0 0 1 2.3.6 7.5 7.5 0 0 1 3 2.4l.2.3-4 3-.8-1a4.7 4.7 0 0 0-3-2.1c-1-.2-2.4.4-3.9 1.5l-8.6 6.6Zm-80.4.7-17.1-19L34 11.7l2.7 3-.3.3-7.6 6.9 4.4 5 6.2-5.6 2.8 3L36 30l7.4 8.2-3.7 3.3Zm75.2-5.7 1-1.4a6.8 6.8 0 0 1-1 0 7.8 7.8 0 0 1-1.4-.1 8.5 8.5 0 0 1-3.3-1.4 9.4 9.4 0 0 1-3-3.4 7.5 7.5 0 0 1-.8-4.3 9.8 9.8 0 0 1 1.8-4.6l7-9.9 4 2.8-6.6 9.4a5.5 5.5 0 0 0-1.2 3.9 4.4 4.4 0 0 0 2 3 4.8 4.8 0 0 0 2.7 1 4 4 0 0 0 .8-.1 5.4 5.4 0 0 0 3.3-2.4l6.6-9.5 4 2.9-12 17ZM55 28.2a9.6 9.6 0 0 1-4.9-2 11.5 11.5 0 0 1-3.4-4.7 11.7 11.7 0 0 1-1-5.7 9.2 9.2 0 0 1 2-4.9 11.6 11.6 0 0 1 8.7-4.1 9.7 9.7 0 0 1 1.1 0 9.1 9.1 0 0 1 4.7 2 10.8 10.8 0 0 1 3.2 4.4 13.2 13.2 0 0 1 .7 2v.3l-14 5.8a5 5 0 0 0 4.5 2.7 5.7 5.7 0 0 0 2.2-.5 4.5 4.5 0 0 0 3-4v-.3l4.9-2v.5a9.4 9.4 0 0 1-1.4 5.7 10 10 0 0 1-5 4 11 11 0 0 1-4.1 1 10 10 0 0 1-1.2-.2Zm-1.3-16.6a5 5 0 0 0-2.7 2.5 5.2 5.2 0 0 0-.4 3.4l9.5-3.9a4.2 4.2 0 0 0-2.5-2.2 5.1 5.1 0 0 0-1.6-.2 6 6 0 0 0-2.3.4Zm45.2 14.8a6.7 6.7 0 0 1-3.9-2.7 5.7 5.7 0 0 1-.2-4.8l3.3-10.2-2.3-.7 1.3-4 2.2.7 1.5-4.7 4.7 1.5-1.5 4.7 4.7 1.5-1.3 4-4.6-1.5-3.3 10.2a1.8 1.8 0 0 0 0 1.4 2.3 2.3 0 0 0 1.4.8l2.7.9-1.2 4Zm-20.3-3a9.2 9.2 0 0 1-4.9-1.3 9.8 9.8 0 0 1-3.5-3.8 11.8 11.8 0 0 1-1.4-5.6 11.5 11.5 0 0 1 1.3-5.5 9.5 9.5 0 0 1 8.5-5.1A9.1 9.1 0 0 1 83 3a9.3 9.3 0 0 1 2.3 1.6V2.4H90V23h-4.8v-2.3a9.1 9.1 0 0 1-6.7 2.7Zm-2-16.2a5.5 5.5 0 0 0-2 2.1 6.8 6.8 0 0 0-.8 3.4 7.1 7.1 0 0 0 .9 3.5 5.7 5.7 0 0 0 2 2.2 5.4 5.4 0 0 0 2.8.7 5.5 5.5 0 0 0 2.8-.7 5.6 5.6 0 0 0 2.1-2.2 7 7 0 0 0 .8-3.5 7 7 0 0 0-.8-3.4 5.7 5.7 0 0 0-2.1-2.1 5.5 5.5 0 0 0-2.8-.8 5.6 5.6 0 0 0-2.8.8Z"/>
					</svg>
					{posts.map((post) => (
						<article>
							<Picture src={post.fimg_url} loading="lazy" alt={post.title.rendered} format={["avif", "webp"]}
							fallbackFormat="jpg" includeSourceFormat={false} />
							<h3 class="h5" set:html={post.title.rendered} />
							<p><a href=`/work/${post.slug}` class="squiggle">Read Case Study</a></p>
						</article>
					))}
				</div>
			</div>
		}
	</div>
	<FeaturedArticles />
</Layout>
