---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import { Picture } from 'astro:assets';
import photoAirplane from '../../assets/images/photography/airplane-photography.jpg';
import photoApparel from '../../assets/images/photography/apparal-photography.jpg';
import photoExterior from '../../assets/images/photography/exterior-building-photography.jpg';
import photoFood from '../../assets/images/photography/food-business-photography.jpg';
import photoLaw from '../../assets/images/photography/law-firm-photography.jpg';
import photoTraining from '../../assets/images/photography/training-photography.jpg';
import photoWell from '../../assets/images/photography/well-drilling-photography.jpg';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import ServicesRelatedWork from "../../components/ServicesRelatedWork.astro";
import "../../styles/pages/_services-list.scss";

---

<Layout
	title='Photography and Video services in Central Florida'
	description='High-quality photographs can make a strong first impression and create a positive image for a business or product.'
>
	<SimpleHero tagline='Content Creation Services' title='Photography' description="High-quality photographs can make a strong first impression and create a positive image for a business or product." lottieFile='photography.json'/>
	<div class="wrapper our-photos" data-lg-reveal="layer-to-right" data-lg-reveal-stagger="0.1">
		<h2>We Take<br />Photos Like...</h2>
		<Picture width={1140} height={722} src={photoAirplane} loading="lazy" alt='airplane photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={722} src={photoApparel} loading="lazy" alt='apparel photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={722} src={photoExterior} loading="lazy" alt='exterior buildings photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={722} src={photoFood} loading="lazy" alt='food photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={722} src={photoLaw} loading="lazy" alt='law firm photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={722} src={photoTraining} loading="lazy" alt='school training photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
		<Picture width={1140} height={724} src={photoWell} loading="lazy" alt='well drilling photography' widths={[480, 800, 1140]} sizes="(max-width: 900px) 100vw, 50vw" inferSize />
	</div>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow' data-lg-reveal>
			<h2>Why photography matters</h2>
			<p>
				High-quality photographs can make a strong first impression and create a positive image for a business or product. They can also be a powerful way to communicate information and ideas, and can help to tell a story or convey a message for your brand or current marketing campaign.
			</p>
			<p>At a time when keeping attention is tough this type animation can help you turn messages into memorable experiences</p>
			<h2>Applications for photography</h2>
			<ul>
				<li>Product photography</li>
				<li>Events</li>
				<li>Website</li>
				<li>Social Media</li>
			</ul>
			<h2>How we approach photography</h2>
			<p>Typically we'll work with you to understand your goals and objectives in the discovery phase along with the intended audience the photos will be for. Once we fully understand the goals we start our planning whether it will include models and locations or our in-house studio, we'll schedule a time and day(s) that works best for you. After the shoot we'll do some post-processing to get the required look and feel that matches your brand and deliver the end results as files for you to use, as part of a larger marketing campaign, or any other specific application.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		<ServicesRelatedWork tag={68} />
	</div>
	<FeaturedArticles />
</Layout>

<style lang="scss" is:global>
.our-photos {
	margin-bottom: 6rem;
	column-count: 2;
	column-gap: 3rem;
	@media (max-width: 767px) {
		column-count: 1;
	}
	h2 {
		margin-bottom: 4rem;
	}
	picture {
		display: block;
		margin-bottom: 2rem;
	}
}
</style>
