---
import Layout from '../../Base.astro';
import SimpleHero from '../../components/SimpleHero.astro';
import { Picture } from 'astro-imagetools/components';
import FeaturedArticles from "../../components/FeaturedArticles.astro";
import "../../styles/pages/_services-list.scss";

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=3&tags=81`);
const posts = await response.json();
---

<Layout
	title='Managed web hosting for WordPress, Node, or static sites.'
	description='Web hosting services that are affordable, reliable and fit the need.'
>
	<SimpleHero tagline='Ongoing Support Services' title='Web Hosting' description="Updating a website regularly ensures that it is running smoothly and error-free. The same goes for the server that's hosting said website." lottieFile='website-support.json' />
	<div class="wrapper partners">
		<h2>Our Partners</h2>
		<div class="partners-grid">
			<svg width="180" height="53" viewBox="0 0 180 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M3.03612 0L7.8072 11.4653H1.73491L3.68672 16.549H16.0482L3.03612 0Z" fill="#FCDC49"/>
				<path d="M19.1927 41.751L17.1325 36.6673H14.3132L8.4578 22.498H5.96383L11.8192 36.6673H4.66262L17.8915 53.1082L13.1205 41.751H19.1927Z" fill="#FCDC49"/>
				<path d="M20.8192 21.5245C20.9277 21.5245 21.3614 21.3081 21.3614 19.5775C21.3614 17.8469 21.0361 17.6306 20.8192 17.6306H12.3614L13.9879 21.5245H20.8192Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M28.5181 17.7388H35.5662C39.3614 17.7388 41.9638 19.4694 42.0723 23.5796C42.0723 27.6898 39.7952 29.4204 35.7831 29.4204H33.2891V35.4775H28.5181V17.7388ZM33.3976 25.9592H33.9397C35.5662 25.9592 37.3012 25.9592 37.1928 23.7959C37.1928 21.6326 35.6747 21.6326 33.9397 21.6326H33.3976V25.9592Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M48.9036 17.7388H53.6747L60.3976 35.3694H55.5181L54.3253 32.3408H48.0361L46.8434 35.3694H41.9638L48.9036 17.7388ZM51.1807 23.3633L49.3373 28.9877H53.0241L51.1807 23.3633Z" fill="black"/>
				<path d="M125.133 28.5551H129.904V24.6612H125.133V21.6326H131.639V17.7388H120.361V35.4775H131.639V31.151H125.133V28.5551Z" fill="black"/>
				<path d="M87.9397 22.498H83.6024V17.7388H96.9398V22.498H92.6024V35.4775H87.9397V22.498Z" fill="black"/>
				<path d="M111.687 24.6612H105.181V17.7388H100.41V35.4775H105.181V28.5551H111.687V35.4775H116.458V17.7388H111.687V24.6612Z" fill="black"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M134.133 26.6082C134.133 21.7408 138.145 17.7388 143.024 17.7388C147.904 17.7388 151.916 21.7408 151.916 26.6082C151.916 31.4755 147.904 35.4775 143.024 35.4775C138.145 35.4775 134.133 31.4755 134.133 26.6082ZM147.145 26.6082C147.145 24.3367 145.301 22.498 143.024 22.498C140.747 22.498 138.904 24.3367 138.904 26.6082C138.904 28.8796 140.747 30.7184 143.024 30.7184C145.301 30.7184 147.145 28.8796 147.145 26.6082Z" fill="black"/>
				<path d="M167.53 27.6898L159.831 17.7388H155.386V35.4775H160.157V25.5265L167.422 35.4775H172.301V17.7388H167.53V27.6898Z" fill="black"/>
				<path d="M67.6626 17.7388L75.3614 27.6898V17.7388H80.1325V35.4775H75.253L67.9879 25.5265V35.4775H63.2169V17.7388H67.6626Z" fill="black"/>
				<path d="M21.4698 26.1755H15.8313L14.2048 22.2816H21.4698C21.6867 22.2816 22.012 22.4979 22.012 24.2286C22.012 25.9592 21.5783 26.1755 21.4698 26.1755Z" fill="black"/>
				<path d="M13.1205 31.5837L14.747 35.4775H20.8192C20.9277 35.4775 21.3614 35.2612 21.3614 33.5306C21.2801 32.2326 21.0768 31.7865 20.9345 31.6445C20.887 31.5972 20.8464 31.5837 20.8192 31.5837H13.1205Z" fill="black"/>
				<path d="M12.9036 30.8265L11.2771 26.9326H21.5783C21.6867 26.9326 22.012 27.149 22.1205 28.8796C22.1205 30.6102 21.6867 30.8265 21.5783 30.8265H12.9036Z" fill="black"/>
				<path d="M6.506 26.2837L4.66262 21.6326H8.89154L10.8433 26.2837H14.8554L11.2771 17.7388H2.49395C1.84334 17.7388 1.40961 17.7388 1.08431 18.7122C0.759007 19.902 0.650574 22.1735 0.650574 26.6082C0.650574 31.0428 0.650574 33.3143 1.08431 34.5041C1.40961 35.4775 1.73491 35.4775 2.49395 35.4775H10.1927L6.506 26.2837Z" fill="black"/>
				<path d="M175.12 18.0633H175.663V19.7939H176.205V18.0633H176.747V17.7388H175.12V18.0633Z" fill="black"/>
				<path d="M177.398 18.1714L177.94 19.7939H178.373L178.916 18.1714V19.7939H179.349V17.7388H178.699L178.157 19.3612L177.614 17.7388H176.964V19.7939H177.398V18.1714Z" fill="black"/>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 495 75.1"  height="30">
				<g id="pressable-logo">
					<g id="pressable">
						<path d="M110.6 5.6c0-2.2 1.1-2.6 2.5-2.6h21.2C152.2 3 158 8 158 23.7v1.7c0 16.1-6.1 20.7-23.7 20.7h-14.8v26.4c.1 1.3-.8 2.4-2.1 2.6h-.3c-2.1 0-6.5-.6-6.5-1.8V5.6Zm8.9 5.3v27.3h14.8c11.8 0 14.7-2.5 14.7-12.8v-1.7c0-10.3-2.9-12.8-14.7-12.8h-14.8ZM186.4 28c-5.9 0-11.4 2.2-11.4 3v41.6c.1 1.2-.7 2.2-1.8 2.4h-.5c-1.8 0-5.8-.4-5.8-1.6V27.5c0-3.3 8.1-6.9 19.2-6.9 2.4 0 9 0 9 2.6 0 4-.9 5.5-2 5.5-2.3-.4-4.5-.6-6.7-.7M222.1 75c-16.1 0-21.6-6.4-21.6-23.9V38.5c0-12.8 6.5-17.8 19.3-17.8h1.3c13.6 0 18.7 5.1 18.7 15V38c0 11.8-5 15.7-31.2 15.7 0 10.2 3.8 14.4 15.2 14.4 5.3 0 10.9-1.5 13.9-1.5 1 0 1.7.6 1.7 5 0 1-.4 1.4-1.5 1.7a76.4 76.4 0 0 1-15.8 1.7m9.7-39.6c0-5.5-3.4-8.4-11.4-8.4-6.9 0-11.7 2.1-11.7 11.2v9c20.1 0 23.1-1.7 23.1-9.8v-2ZM263.7 67.7c7.7 0 12.1-1.7 12.1-6.7 0-11.9-26-9.2-26-27.3 0-11 8.9-13 17.9-13 4.6-.2 9.2.1 13.8.7 1.4.2 1.7 1 1.7 2.1 0 3.4-1.1 5.3-2.1 5.3-3.8-.5-7.6-.8-11.4-.8-7.3 0-11.7 1.4-11.7 6 0 10.2 26.1 8 26.1 26.8 0 11.3-8.3 14.2-19 14.2-5.2 0-10.3-.4-15.4-1.3-1.2-.4-1.4-.8-1.4-1.6 0-4.5 1.7-5.4 2.4-5.4h.4c4.1.7 8.3 1 12.6 1M307.3 67.7c7.7 0 12.1-1.7 12.1-6.7 0-11.9-26-9.2-26-27.3 0-11 8.9-13 17.9-13 4.6-.2 9.2.1 13.8.7 1.4.2 1.7 1 1.7 2.1 0 3.4-1.1 5.3-2.1 5.3-3.8-.5-7.6-.8-11.4-.8-7.3 0-11.7 1.5-11.7 6 0 10.2 26.1 8.1 26.1 27 0 11.2-8.3 14.1-19 14.1a90 90 0 0 1-15.5-1.3c-1.2-.4-1.4-.8-1.4-1.6 0-4.5 1.7-5.4 2.4-5.4h.4c4.2.6 8.5 1 12.7 1M373.8 69.6c0 2.2-9.2 5.4-19.4 5.4-13.4 0-19.1-4.8-19.1-16.2 0-10.3 4-15.2 16.1-15.2 4.8.1 9.6.8 14.3 2.3v-8.7c0-6.9-3.1-9.5-12.8-9.5a91 91 0 0 0-12.8 1.2c-1.8 0-2.1-4.2-2.1-4.9 0-1.2.3-1.6.9-1.8 2-.7 8.9-1.7 16-1.7 12.6 0 18.8 3.3 18.8 16.3l.1 32.8Zm-8-17.3a37 37 0 0 0-12.5-2.4c-6.8 0-9.8 1.8-9.8 9.5 0 7 3.1 9.3 11.1 9.3 4 0 10.4-1.2 11.2-2.2V52.3ZM392 25.2c4.7-2.9 10-4.5 15.5-4.5 12.8 0 14.7 9 14.7 18.1v18.4c0 9.7-2.9 17.8-18.9 17.8-5 0-12.6-.3-17.8-2.8-1.4-.6-1.9-1.5-1.9-3.3V1.6c0-1.2 4-1.6 6.1-1.6 1.5 0 2.3 1 2.3 2.8v22.4Zm0 41c0 .6 5.7 1.7 11.2 1.7 10.3 0 10.8-5.6 10.8-10.8v-18c0-5.3-.5-11-8.4-11-6.3 0-13.4 3.1-13.6 4.6v33.5ZM451.6 71.5c0 3.2-6.3 3.4-8.7 3.4-7.4 0-11.4-3.7-11.4-13.4v-60c0-1.3 4.4-1.5 6-1.5 1.1-.2 2.2.7 2.4 1.8v58.6c0 4.3.9 7 5.1 7a34 34 0 0 0 4.6-.7c1.1 0 2 3.4 2 4.8M477.2 75c-16.1 0-21.5-6.4-21.5-23.9V38.5c0-12.8 6.5-17.8 19.3-17.8h1.3c13.6 0 18.7 5.1 18.7 15V38c0 11.8-5 15.7-31.2 15.7 0 10.2 3.8 14.4 15.3 14.4 5.3 0 10.9-1.5 13.9-1.5 1 0 1.7.6 1.7 5 0 1-.4 1.4-1.5 1.7a79.9 79.9 0 0 1-16 1.7m9.6-39.6c0-5.5-3.4-8.4-11.4-8.4-6.9 0-11.7 2.1-11.7 11.2v9c20.1 0 23.1-1.7 23.1-9.8v-2Z" fill="#040047"/>
					</g>
					<g id="pressable-icon">
						<path d="M37 18.5H26.2v19.8H37c8.6 0 10.6-1.8 10.6-9.3v-1.2c0-7.5-2.1-9.3-10.6-9.3Z" fill="#040047"/>
						<path d="M0 2.7V75h46.3l26-26V2.7H0ZM54.2 29c0 11.7-4.4 15-17.2 15H26.2v19.1c.1 1-.5 1.8-1.5 2h-.3c-1.5 0-4.7-.5-4.7-1.4v-49c0-1.7.8-2 1.8-2H37c13 0 17.2 3.6 17.2 15V29Z" fill="#040047"/>
					</g>
				</g>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 209" height="60">
				<path d="M117.436 207.036V154.604L118.529 153.51H129.452L130.545 154.604V207.036L129.452 208.13H118.529L117.436 207.036Z" fill="#05bdba"></path>
				<path d="M117.436 53.5225V1.09339L118.529 0H129.452L130.545 1.09339V53.5225L129.452 54.6159H118.529L117.436 53.5225Z" fill="#05bdba"></path>
				<path d="M69.9539 169.238H68.4094L60.6869 161.512V159.967L78.7201 141.938L86.8976 141.942L87.9948 143.031V151.209L69.9539 169.238Z" fill="#05bdba"></path>
				<path d="M69.9462 38.8917H68.4017L60.6792 46.6181V48.1626L78.7124 66.192L86.8899 66.1882L87.9871 65.0986V56.9212L69.9462 38.8917Z" fill="#05bdba"></path>
				<path d="M1.09339 97.5104H75.3711L76.4645 98.6038V109.526L75.3711 110.62H1.09339L0 109.526V98.6038L1.09339 97.5104Z" fill="#05bdba"></path>
				<path d="M440.999 97.5104H510.91L512.004 98.6038V109.526L510.91 110.62H436.633L435.539 109.526L439.905 98.6038L440.999 97.5104Z" fill="#05bdba"></path>
				<path d="M212.056 108.727L210.963 109.821H177.079L175.986 110.914C175.986 113.101 178.173 119.657 186.916 119.657C190.196 119.657 193.472 118.564 194.566 116.377L195.659 115.284H208.776L209.869 116.377C208.776 122.934 203.313 132.774 186.916 132.774C168.336 132.774 159.589 119.657 159.589 104.357C159.589 89.0576 168.332 75.9408 185.822 75.9408C203.313 75.9408 212.056 89.0576 212.056 104.357V108.731V108.727ZM195.659 97.7971C195.659 96.7037 194.566 89.0538 185.822 89.0538C177.079 89.0538 175.986 96.7037 175.986 97.7971L177.079 98.8905H194.566L195.659 97.7971Z" fill="#014847"></path>
				<path d="M242.66 115.284C242.66 117.47 243.753 118.564 245.94 118.564H255.776L256.87 119.657V130.587L255.776 131.681H245.94C236.103 131.681 227.36 127.307 227.36 115.284V91.2368L226.266 90.1434H218.617L217.523 89.05V78.1199L218.617 77.0265H226.266L227.36 75.9332V66.0965L228.453 65.0031H241.57L242.663 66.0965V75.9332L243.757 77.0265H255.78L256.874 78.1199V89.05L255.78 90.1434H243.757L242.663 91.2368V115.284H242.66Z" fill="#014847"></path>
				<path d="M283.1 131.681H269.983L268.889 130.587V56.2636L269.983 55.1702H283.1L284.193 56.2636V130.587L283.1 131.681Z" fill="#014847"></path>
				<path d="M312.61 68.2871H299.493L298.399 67.1937V56.2636L299.493 55.1702H312.61L313.703 56.2636V67.1937L312.61 68.2871ZM312.61 131.681H299.493L298.399 130.587V78.1237L299.493 77.0304H312.61L313.703 78.1237V130.587L312.61 131.681Z" fill="#014847"></path>
				<path d="M363.98 56.2636V67.1937L362.886 68.2871H353.05C350.863 68.2871 349.769 69.3805 349.769 71.5672V75.9408L350.863 77.0342H361.793L362.886 78.1276V89.0576L361.793 90.151H350.863L349.769 91.2444V130.591L348.676 131.684H335.559L334.466 130.591V91.2444L333.372 90.151H325.723L324.629 89.0576V78.1276L325.723 77.0342H333.372L334.466 75.9408V71.5672C334.466 59.5438 343.209 55.1702 353.046 55.1702H362.882L363.976 56.2636H363.98Z" fill="#014847"></path>
				<path d="M404.42 132.774C400.046 143.704 395.677 150.261 380.373 150.261H374.906L373.813 149.167V138.237L374.906 137.144H380.373C385.836 137.144 386.929 136.05 388.023 132.77V131.677L370.536 89.05V78.1199L371.63 77.0265H381.466L382.56 78.1199L395.677 115.284H396.77L409.887 78.1199L410.98 77.0265H420.817L421.91 78.1199V89.05L404.424 132.77L404.42 132.774Z" fill="#014847"></path>
				<path d="M135.454 131.681L134.361 130.587L134.368 98.9172C134.368 93.4541 132.22 89.2182 125.625 89.0806C122.234 88.9926 118.354 89.0729 114.209 89.2488L113.59 89.8834L113.598 130.587L112.504 131.681H99.3913L98.2979 130.587V77.5388L99.3913 76.4454L128.901 76.1778C143.685 76.1778 149.668 86.3356 149.668 97.8009V130.587L148.575 131.681H135.454Z" fill="#014847"></path>
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 503.7 98.3" height="30">
				<path fill="#5333ed" d="M214.5 15.7a41.6 41.6 0 0 0-29.1-12.3 41.6 41.6 0 0 0-28 10.8l-6.7-7.7a3.8 3.8 0 0 0-2.9-1.3h-.2c-2 0-3.8 1.7-3.8 3.8v85.4c0 2 1.7 3.8 3.8 3.8h16c2.2 0 3.9-1.7 3.9-3.8V45a17.6 17.6 0 0 1 5.1-12.6 17.9 17.9 0 0 1 29 5.7c1 2.2 1.4 4.5 1.4 6.9v49.3c0 2.1 1.7 3.8 3.8 3.8h16c2.1 0 3.8-1.7 3.8-3.8V45.1a41 41 0 0 0-12-29.5ZM397 5.3h-63.3a3.8 3.8 0 0 0-3.8 3.8v16c0 2.1 1.7 3.8 3.8 3.8h4c2 0 3.8 1.7 3.8 3.8v23.8A42.1 42.1 0 0 0 383 98.1h14c2.2 0 3.9-1.7 3.9-3.8v-16c0-2-1.7-3.8-3.8-3.8h-14.2a17.7 17.7 0 0 1-12.7-5.2 17.7 17.7 0 0 1-5.2-12.7V32.8c0-2 1.7-3.7 3.8-3.7H397c2 0 3.7-1.7 3.7-3.8v-16c0-2.1-1.6-3.8-3.7-3.9Zm103-1.7h-.1c-1.2 0-2.2.5-3 1.4l-5.5 6.7a3.7 3.7 0 0 1-5.3.5 63 63 0 0 0-12.2-8 46.4 46.4 0 0 0-8.5-3.2A47.2 47.2 0 0 0 423 13.6a47.8 47.8 0 0 0-10.2 15.6 52.1 52.1 0 0 0-3.7 19.9c-.1 7 1.1 14.1 3.7 20.8a43.6 43.6 0 0 0 25.2 25 51 51 0 0 0 18.4 3.3c3 0 6-.4 8.9-1.2a48.8 48.8 0 0 0 20.5-10.8 3.7 3.7 0 0 1 5.5.8l5.6 7.8a3.8 3.8 0 0 0 6.9-2.2V7.5c0-2-1.7-3.8-3.8-3.8Zm-21.8 55c-1.2 2.9-3 5.6-5.1 8a25.3 25.3 0 0 1-7.5 5.6c-2.8 1.4-6 2.2-9.1 2.2-3.1 0-6.2-.6-9.1-1.7-2.9-1-5.4-2.7-7.5-4.9-2.2-2.2-3.9-5-5-7.9a33 33 0 0 1 0-21.6 23 23 0 0 1 5-8c2.1-2.1 4.6-3.8 7.4-4.8 3-1.1 6-1.7 9.2-1.7 3.1 0 6.3.7 9.1 2.1a25 25 0 0 1 7.5 5.7c2.1 2.4 3.9 5 5 8a25 25 0 0 1 0 19ZM20 5.2H3.8A4 4 0 0 0 0 9v85.5a4 4 0 0 0 3.8 3.8H20c2.1 0 3.8-1.8 3.8-3.8V9c0-2-1.7-3.7-3.8-3.7Zm66.5 6.4a3.8 3.8 0 0 0-2.9-6.3H65.5c-1.1 0-2.2.5-2.9 1.4L26 49.4a3.8 3.8 0 0 0 0 5L62.6 97a4 4 0 0 0 2.9 1.3h18.2a3.8 3.8 0 0 0 2.8-6.3L54 54.4a3.8 3.8 0 0 1 0-5l32.6-37.7ZM122 5.3h-.2c-1.1 0-2.2.4-2.9 1.3l-.8.9-15 17.5c-.7.7-1 1.6-1 2.5v67a4 4 0 0 0 3.8 3.8h16c2.1 0 3.8-1.7 3.8-3.8V9c0-2-1.7-3.7-3.8-3.7Zm193 43.5a29.1 29.1 0 0 0-9.3-5.7 32 32 0 0 0-11.4-2h-24.7a6 6 0 0 1-4.1-1.8 6 6 0 0 1-1.7-4.3 6 6 0 0 1 5.8-6h44.1c2.1 0 3.8-1.6 3.8-3.7v-16c0-2.2-1.7-3.9-3.8-3.9h-44a29 29 0 0 0-27.2 18 29.7 29.7 0 0 0 27.1 41.2H295a5 5 0 0 1 5 4.6 5 5 0 0 1-4.4 5.4H244a3.8 3.8 0 0 0-3.8 3.8v16c0 2 1.7 3.8 3.8 3.8h50.2a29.2 29.2 0 0 0 27.1-18 28.6 28.6 0 0 0 0-22.7 27.4 27.4 0 0 0-6.3-8.7Z" />
			</svg>
		</div>
	</div>
	<div class='service-body'>
		<div class='wrapper wrapper--narrow'>
			<h2>Why web hosting matters</h2>
			<p>Your web host is a critical component of having a successful website, as it is the foundation for your site's performance, security, and reliability. It should be able to scale automatically to higher volumes of traffic as needed without breaking the bank. And it should also include great technical support for when any issue may arise.</p>
			<p>We partner with the best hosting companies in the business whether it's hosting a CMS based website like WordPress, Drupal, headless sites, or even web applications—we've got you covered.</p>
			<p>Our partners include: Flywheel, WP Engine, Pantheon, Netlify, and Firebase.</p>
			<p><a href='/contact/' class='button button--green'>Let's Talk</a></p>
		</div>
		{ posts.length > 0 && 
			<div class="service-related-work wrapper">
				<div class="service-related-work-left">
					<h2 data-lg-sticky="top">Check Out <br/>Our Work</h2>
				</div>
				<div class="service-related-work-right">
					<svg data-lg-scroll xmlns="http://www.w3.org/2000/svg" width="161" height="152.6">
						<g fill="#42c634">
							<path d="M93.2 101c-.3-1.5-2.6-3-4.5-4.3l-1.2-.8a6 6 0 0 1-3-4.5 5.3 5.3 0 0 1 2.2-4.5l3.2-2c2.8-1.6 3.8-4 2.7-6.2-.5-1.5-3.1-3-5.2-4.3l-1.5-1c-2.1-1.2-3.3-3-3.3-4.8a6 6 0 0 1 3.1-5c1.4-.8 3-1.8 3.6-3 1.3-2.2.3-5-2.5-6.8l-3.5-2.4a5.5 5.5 0 0 1-2.7-5.2L78.1 48l-4.3 3a5.2 5.2 0 0 0-1.8 4.3 4.6 4.6 0 0 0 2.2 3.4l3.6 2.5a6 6 0 0 1 3 4.5 5.4 5.4 0 0 1-2.2 4.5l-3.1 2c-3 1.8-4 4.6-2.4 6.8.7 1.2 3 2.6 4.8 3.7.6.3 1.2.6 1.6 1 2.1 1.2 3.3 2.9 3.3 4.8a6 6 0 0 1-3.1 5l-1.6 1a5 5 0 0 0-2.6 4 5.7 5.7 0 0 0 3 4.8l1 .6c1.5 1 3.6 2.4 4.1 3.3a5 5 0 0 1 1 3.7c1.7-1.2 3.5-2.5 5.6-3.8 2.5-1.7 3.7-4 3-6.1Z" />
							<path d="M114.7 92.1a4.7 4.7 0 0 0-2-2.6l-3.8-2.5a5.8 5.8 0 0 1-3-4.9 6.2 6.2 0 0 1 3.4-5l1.7-1a4.8 4.8 0 0 0 2.7-4.2c0-1.8-1.3-3.6-3.5-4.8a70 70 0 0 1-4.3-2.5c-2.5-1.4-4-3.5-4-5.5l-2.3 1.6a49.3 49.3 0 0 0-4.7 3.5 4.4 4.4 0 0 0-1.4 3.9 6 6 0 0 0 3.2 4l4.2 2.5c2 1.2 3.2 2.9 3.3 4.6a5.4 5.4 0 0 1-2.5 4.7 15.4 15.4 0 0 1-1.8 1l-.9.6a5.9 5.9 0 0 0-3.2 4.6 5 5 0 0 0 2.5 4.3l1 .7c1.5 1 3.5 2.4 4 3.4a4.2 4.2 0 0 1 .3 3.8l7-4c3.1-1.7 4.6-4 4-6.2Z" />
							<path d="m68 82.5-4-2.6c-2.2-1.2-3.3-3-3.3-4.8 0-2 1.3-3.8 3.5-5l1.8-1a5.9 5.9 0 0 0 3.3-4.6 5 5 0 0 0-2.4-4.4l-3.3-2.4a4.4 4.4 0 0 1-1.7-5.3l-2.2 1.2-6.4 3.7a5.7 5.7 0 0 0-2.6 4.5 4 4 0 0 0 2 3.3l3.6 2.5A5.7 5.7 0 0 1 59 72a5.8 5.8 0 0 1-2.7 4.7 15.1 15.1 0 0 1-1.7 1.1l-.9.6C52 79.5 51 81 51 82.8c0 1.8 1.3 3.4 3.4 4.6l1.6 1a23.9 23.9 0 0 1 4.8 3 5.8 5.8 0 0 1 1.9 4.1l6-4.1c2.5-1.7 3.3-4 2.2-6.3a7 7 0 0 0-2.7-2.6Z" />
							<path d="M98.3 106v2h-.7v-2h-1v-.6h2.7v.6Z" data-name="Path 90"/>
							<path d="M102.3 108v-1.7l-.9 1.1-.9-1v1.6h-.7v-2.6h.8l.8 1.1.9-1h.7v2.5Z" data-name="Path 91"/>
						</g>
						<path class="rotate-text" fill="#fff" d="m55.5 151.1 1.5-4.7-4.7-1.5 1.3-4 4.6 1.6 3.3-10.2a1.8 1.8 0 0 0 0-1.4 2.3 2.3 0 0 0-1.4-.9l-2.8-.9 1.3-4 3.5 1.1A6.7 6.7 0 0 1 66 129a5.7 5.7 0 0 1 .1 4.8L63 144l2.3.8-1.3 3.9-2.2-.7-1.5 4.7Zm26.8-.6a9.1 9.1 0 0 1-4.2-1 9.3 9.3 0 0 1-2.3-1.6v2.3H71v-20.7h4.8v2.3a9.1 9.1 0 0 1 2.4-1.7 9.2 9.2 0 0 1 4.3-1 9.2 9.2 0 0 1 4.9 1.4 9.8 9.8 0 0 1 3.5 3.8 11.8 11.8 0 0 1 1.4 5.6 11.5 11.5 0 0 1-1.3 5.5 9.5 9.5 0 0 1-8.5 5.1Zm-3.6-16.3a5.6 5.6 0 0 0-2.1 2.2 7 7 0 0 0-.8 3.5 6.9 6.9 0 0 0 .8 3.4 5.6 5.6 0 0 0 2.1 2.2 5.5 5.5 0 0 0 2.8.7 5.5 5.5 0 0 0 4.9-3 6.8 6.8 0 0 0 .8-3.3 7 7 0 0 0-.9-3.5 5.7 5.7 0 0 0-2-2.2 5.4 5.4 0 0 0-2.8-.7 5.5 5.5 0 0 0-2.8.7Zm24.8 11.6a9.2 9.2 0 0 1-4.7-2 10.9 10.9 0 0 1-3.2-4.4 13.6 13.6 0 0 1-.7-2v-.3l.2-.1 13.7-5.7a5 5 0 0 0-4.4-2.7 5.7 5.7 0 0 0-2.2.5 4.5 4.5 0 0 0-3 4v.3l-4.9 2v-.5a9.4 9.4 0 0 1 1.4-5.7 10 10 0 0 1 5-4 11 11 0 0 1 4.1-.9 10 10 0 0 1 1.2 0 9.6 9.6 0 0 1 4.9 2.1 11.5 11.5 0 0 1 3.4 4.7 11.7 11.7 0 0 1 1 5.7 9.2 9.2 0 0 1-2 4.9 11.7 11.7 0 0 1-8.7 4.1 10 10 0 0 1-1.1 0Zm-2.6-6.8a4.2 4.2 0 0 0 2.5 2.2 5.1 5.1 0 0 0 1.6.3 6 6 0 0 0 2.3-.5 4.9 4.9 0 0 0 2.7-2.5 5.2 5.2 0 0 0 .4-3.4Zm-59 .5.2-.3 6.4-9.1a5.5 5.5 0 0 0 1.2-3.9 4.4 4.4 0 0 0-2-3 4.8 4.8 0 0 0-2.7-1 4.1 4.1 0 0 0-.8.1 5.4 5.4 0 0 0-3.3 2.4l-6.6 9.5-4-2.9 12-17 4 2.9-1 1.5a6.8 6.8 0 0 1 .9-.1 7.8 7.8 0 0 1 1.4.1 8.5 8.5 0 0 1 3.3 1.5 9.4 9.4 0 0 1 3 3.3 7.5 7.5 0 0 1 .8 4.3 9.8 9.8 0 0 1-1.8 4.6l-7 10Zm82.3-1.6.3-.3 7.7-6.9-4.5-5-6.2 5.6-2.8-3 6.2-5.6-7.4-8.2 3.7-3.3.2.3 17.1 19L127 141Zm-102.7-17 1.7-1.3a6.9 6.9 0 0 1-2.3-.6 7.5 7.5 0 0 1-3-2.4l-.2-.3 4-3 .8 1a4.7 4.7 0 0 0 3 2.1 2.7 2.7 0 0 0 .4 0 6.2 6.2 0 0 0 3.5-1.5l8.6-6.6 3 3.9-.3.2-16.2 12.3Zm-2.8-12.4a9.2 9.2 0 0 1-4.8-2.1 11 11 0 0 1-3.1-4.6 10.6 10.6 0 0 1-.6-5.4 9.1 9.1 0 0 1 2.1-4.6 10.9 10.9 0 0 1 4.6-3 13.6 13.6 0 0 1 2-.6h.3l5.2 14.2a5 5 0 0 0 2.5-2.6 5.3 5.3 0 0 0 0-4 4.5 4.5 0 0 0-4-3.2h-.2L21 87.7h.8a9.4 9.4 0 0 1 5.2 1.6 10 10 0 0 1 3.9 5.1 10.6 10.6 0 0 1 .5 5.5 9.6 9.6 0 0 1-2.2 4.7 11.5 11.5 0 0 1-4.8 3.2 12.4 12.4 0 0 1-4.3.8 10.4 10.4 0 0 1-1.4 0Zm-4-12a5.5 5.5 0 0 0 .1 4 5 5 0 0 0 4.7 3.3 6.3 6.3 0 0 0 1 0L17.2 94a4.2 4.2 0 0 0-2.3 2.5Zm118.5-8.4.2-4.9 2.4.1a8.6 8.6 0 0 1-1.6-2.3 9.1 9.1 0 0 1-.9-4.3 9.4 9.4 0 0 1 1.6-5 9.8 9.8 0 0 1 4-3.4 11.6 11.6 0 0 1 5-1h.6a11.5 11.5 0 0 1 5.4 1.4 9.5 9.5 0 0 1 4.8 8.8 9.8 9.8 0 0 1-1 4 8.8 8.8 0 0 1-1.8 2.4l9.1.3-.2 5Zm7.6-15.2a5.7 5.7 0 0 0-2.3 2 5.4 5.4 0 0 0-.9 2.8 5.5 5.5 0 0 0 .7 2.8 5.6 5.6 0 0 0 2.1 2.2 7 7 0 0 0 3.4.9h.3a6.7 6.7 0 0 0 3.1-.7 5.7 5.7 0 0 0 2.3-2 5.5 5.5 0 0 0 .8-2.8 5.6 5.6 0 0 0-.6-2.8 5.5 5.5 0 0 0-2-2.1 6.8 6.8 0 0 0-3.4-1h-.4a7 7 0 0 0-3.1.7ZM16.5 85.4a11.5 11.5 0 0 1-5.4-1.5A9.5 9.5 0 0 1 6.3 75a9.8 9.8 0 0 1 1-4 8.8 8.8 0 0 1 1.8-2.4L0 68.4l.2-5 27.6 1-.2 5-2.4-.1a8.6 8.6 0 0 1 1.6 2.3 9.1 9.1 0 0 1 .9 4.4 9.3 9.3 0 0 1-1.6 4.9 9.7 9.7 0 0 1-4 3.4 11.6 11.6 0 0 1-5 1h-.6Zm-2.7-15.7a5.7 5.7 0 0 0-2.3 2 5.5 5.5 0 0 0-.8 2.8 5.5 5.5 0 0 0 2.7 5 6.8 6.8 0 0 0 3.3.9 7.1 7.1 0 0 0 3.5-.7 5.7 5.7 0 0 0 2.3-2 5.4 5.4 0 0 0 .9-2.8 5.5 5.5 0 0 0-.7-2.8 5.6 5.6 0 0 0-2.1-2.2 7 7 0 0 0-3.4-.9h-.3a6.7 6.7 0 0 0-3.1.7ZM134 63.3a10 10 0 0 1-3.9-5.1 10.6 10.6 0 0 1-.5-5.5 9.6 9.6 0 0 1 2.2-4.7 11.5 11.5 0 0 1 4.8-3.2 12.5 12.5 0 0 1 4.3-.8 10.4 10.4 0 0 1 1.4 0 9.2 9.2 0 0 1 4.8 2.2 11 11 0 0 1 3.1 4.6 10.6 10.6 0 0 1 .6 5.4 9.1 9.1 0 0 1-2.1 4.6 10.9 10.9 0 0 1-4.6 3 13.6 13.6 0 0 1-2 .6h-.3l-.1-.2-5.1-14a5.1 5.1 0 0 0-2.5 2.6 5.2 5.2 0 0 0 0 4 4.5 4.5 0 0 0 4 3.2h.2l1.8 4.9h-.9a9.4 9.4 0 0 1-5.2-1.6Zm6.4-14.4 3.5 9.6a4.2 4.2 0 0 0 2.3-2.5 5.5 5.5 0 0 0 0-3.9 5 5 0 0 0-4.7-3.3 6.3 6.3 0 0 0-1 0ZM120 40.4l.3-.2L136.5 28l3 3.8-1.7 1.3a6.8 6.8 0 0 1 2.3.6 7.5 7.5 0 0 1 3 2.4l.2.3-4 3-.8-1a4.7 4.7 0 0 0-3-2.1c-1-.2-2.4.4-3.9 1.5l-8.6 6.6Zm-80.4.7-17.1-19L34 11.7l2.7 3-.3.3-7.6 6.9 4.4 5 6.2-5.6 2.8 3L36 30l7.4 8.2-3.7 3.3Zm75.2-5.7 1-1.4a6.8 6.8 0 0 1-1 0 7.8 7.8 0 0 1-1.4-.1 8.5 8.5 0 0 1-3.3-1.4 9.4 9.4 0 0 1-3-3.4 7.5 7.5 0 0 1-.8-4.3 9.8 9.8 0 0 1 1.8-4.6l7-9.9 4 2.8-6.6 9.4a5.5 5.5 0 0 0-1.2 3.9 4.4 4.4 0 0 0 2 3 4.8 4.8 0 0 0 2.7 1 4 4 0 0 0 .8-.1 5.4 5.4 0 0 0 3.3-2.4l6.6-9.5 4 2.9-12 17ZM55 28.2a9.6 9.6 0 0 1-4.9-2 11.5 11.5 0 0 1-3.4-4.7 11.7 11.7 0 0 1-1-5.7 9.2 9.2 0 0 1 2-4.9 11.6 11.6 0 0 1 8.7-4.1 9.7 9.7 0 0 1 1.1 0 9.1 9.1 0 0 1 4.7 2 10.8 10.8 0 0 1 3.2 4.4 13.2 13.2 0 0 1 .7 2v.3l-14 5.8a5 5 0 0 0 4.5 2.7 5.7 5.7 0 0 0 2.2-.5 4.5 4.5 0 0 0 3-4v-.3l4.9-2v.5a9.4 9.4 0 0 1-1.4 5.7 10 10 0 0 1-5 4 11 11 0 0 1-4.1 1 10 10 0 0 1-1.2-.2Zm-1.3-16.6a5 5 0 0 0-2.7 2.5 5.2 5.2 0 0 0-.4 3.4l9.5-3.9a4.2 4.2 0 0 0-2.5-2.2 5.1 5.1 0 0 0-1.6-.2 6 6 0 0 0-2.3.4Zm45.2 14.8a6.7 6.7 0 0 1-3.9-2.7 5.7 5.7 0 0 1-.2-4.8l3.3-10.2-2.3-.7 1.3-4 2.2.7 1.5-4.7 4.7 1.5-1.5 4.7 4.7 1.5-1.3 4-4.6-1.5-3.3 10.2a1.8 1.8 0 0 0 0 1.4 2.3 2.3 0 0 0 1.4.8l2.7.9-1.2 4Zm-20.3-3a9.2 9.2 0 0 1-4.9-1.3 9.8 9.8 0 0 1-3.5-3.8 11.8 11.8 0 0 1-1.4-5.6 11.5 11.5 0 0 1 1.3-5.5 9.5 9.5 0 0 1 8.5-5.1A9.1 9.1 0 0 1 83 3a9.3 9.3 0 0 1 2.3 1.6V2.4H90V23h-4.8v-2.3a9.1 9.1 0 0 1-6.7 2.7Zm-2-16.2a5.5 5.5 0 0 0-2 2.1 6.8 6.8 0 0 0-.8 3.4 7.1 7.1 0 0 0 .9 3.5 5.7 5.7 0 0 0 2 2.2 5.4 5.4 0 0 0 2.8.7 5.5 5.5 0 0 0 2.8-.7 5.6 5.6 0 0 0 2.1-2.2 7 7 0 0 0 .8-3.5 7 7 0 0 0-.8-3.4 5.7 5.7 0 0 0-2.1-2.1 5.5 5.5 0 0 0-2.8-.8 5.6 5.6 0 0 0-2.8.8Z"/>
					</svg>
					{posts.map((post) => (
						<article>
							<Picture src={post.fimg_url} loading="lazy" alt={post.title.rendered} />
							<h3 class="h5" set:html={post.title.rendered} />
							<p><a href=`/work/${post.slug}/` class="squiggle">Read Case Study</a></p>
						</article>
						))
					}
				</div>
			</div>
		}
	</div>
	<FeaturedArticles />
</Layout>

<style lang="scss">
	.partners {
		margin-bottom: 6rem;
		text-align: center;
		h2 {
			margin-bottom: 3rem;
			max-width: none;
		}
		&-grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 1rem 3rem;
			align-items: center;
		}
	}
</style>