---
import { Picture } from "astro-imagetools/components";

const { category = "17", heading = "Featured Articles", limit = 3 } = Astro.props;

const response = await fetch(
	`${import.meta.env.PUBLIC_WP_URL}/posts?per_page=${limit}&categories=${category}&_embed`
);
const posts = await response.json();
---

<section class="featured-articles">
	<div class="wrapper">
		<h3>{heading}</h3>
		<div class="grid">
			{posts.map((post) => (
					<article>
						<Picture src={post.fimg_url} loading="lazy" alt={post.title.rendered} />
						<h4 class="h5"><a href=`/blog/${post.slug}/` set:html={post.title.rendered} /></h4>
						<p>
							{post._embedded['wp:term'][0].map((category) => (
								<span>{category.name}</span>
							))}
						</p>
					</article>
				))}
		</div>
	</div>
</section>

<style lang="scss" is:global>
	.featured-articles {
		margin: 8rem 0;
		@media (max-width: 767px) {
			margin: 5rem 0 3rem;
		}
		.grid {
			margin-top: 2rem;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			article {
				flex: 1 1 250px;
				display: flex;
				flex-direction: column;
				position: relative;
				picture,
				img {
					height: 250px !important;
					object-fit: cover;
				}
				a {
					text-decoration: none;
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 1;
					}
				}
				p {
					margin-top: auto;
					color: #757575;
					span + span {
						&:before {
							content: ', ';
						}
					}
				}
			}
		}
	}
</style>