---
import { Picture } from "astro-imagetools/components";
import 'flickity/css/flickity.css';
import 'flickity-fade/flickity-fade.css';

const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=3`);
const posts = await response.json();
---

<section class='recent-work'>
	<div class='wrapper'>
		<div class='top'>
			<h2 class='h3'>Our Work <span>In the real-world</span></h2>
			<p>
				The proof is in the pudding as they say here in the south. Weird sayings aside, it’s one thing to have
				a good strategy, but it takes special talent to create excellent content
				<small>(and good pudding)</small>. Take a look at some recent work below.
			</p>
		</div>
		<div class='slider'>
			{
				posts.map((post) => (
					<div class='slider-item'>
						<div class='slider-item-media'>
							<Picture src={post.fimg_url} alt={post.title.rendered} />
						</div>
						<div class='slider-item-text'>
							<h3 class='slider-item-text-heading h6' set:html={post.title.rendered} />
							<div class="slider-item-text-body">
								<div set:html={post.excerpt.rendered} />
								<p>
									<a href=`/work/${post.slug}/` class='squiggle'>
										Read More <span class="screen-reader-text">About {post.title.rendered}</span>
									</a>
								</p>
							</div>
							<nav class="slider-item-text-nav">
								<button class="button button--link button--prev">← Prev</button>
								<button class="button button--link button--next">Next →</button>
							</nav>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	.recent-work {
		background: var(--black);
		padding: 12rem 0 7rem;
		@media (max-width: 767px) {
			padding: 6rem 0 0rem;
		}
		color: white;
		.top {
			max-width: 1180px;
			width: 100%;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 4rem;
			@media (max-width: 850px) {
				display: block;
			}
			h2 {
				margin: 0;
				@media (min-width: 768px) {
					white-space: nowrap;
				}
				span {
					@media (min-width: 851px) {
						display: block;
						margin-left: 40px;
					}
				}
			}
		}
		.slider {
			max-width: 980px;
			margin: 4rem auto;
			> .slider-item {
				&:not(:first-child) {
					display: none;
				}
			}
			&-item {
				width: 100%;
				&-media {
					aspect-ratio: 1400 / 788;
					img {
						width: 100%;
					}
				}
				&-text {
					display: none;
					flex-wrap: wrap;
					align-items: flex-start;
					margin: 2rem 0;
					gap: 1rem 3rem;
					&-heading {
						margin: 0;
						flex: 1 1 120px;
					}
					&-body {
						flex: 1 1 500px;
						p {
							margin-top: 0;
						}
						a {
							color: white;
							margin: 1rem 0;
						}
					}
					&-nav {
						flex: 0 0 auto;
						white-space: nowrap;
						display: flex;
						margin: 0 auto;
					}
				}
				&.is-selected .slider-item-text {
					display: flex;
				}
			}
		}
	}
</style>

<script>
	import Flickity from 'flickity';
	import 'flickity-fade';
	// recent work slider
	const slider = document.querySelector('.slider');
	if (slider) {
		const next = document.querySelectorAll('.button--next');
		const prev = document.querySelectorAll('.button--prev');
		const flkty = new Flickity(slider, {
			prevNextButtons: false,
			wrapAround: true,
			pageDots: false,
			fade: true
		});
		next.forEach(function (button) {
			button.addEventListener('click', function () {
				flkty.next();
			});
		});
		prev.forEach(function (button) {
			button.addEventListener('click', function () {
				flkty.previous();
			});
		});
		luge.emitter.emit('resize');
	}
</script>