---
import { Img } from 'astro-imagetools/components';

export interface Props {
	tagline: string;
	title: string;
	description: string;
	dark: boolean;
	lottieFile: string;
	mediaFront: string;
	mediaMiddle: string;
	mediaBack: string;
}

const {
	tagline = '',
	title = 'H1 Heading',
	lottieFile = '',
	description = '',
	dark = false,
	mediaFront = '',
	mediaMiddle = '',
	mediaBack = ''
} = Astro.props;

let cssClasses = 'simple-hero';
let wrapper = 'wrapper wrapper--narrow';
let mediaContent;
if (dark) {
	cssClasses = cssClasses + ' simple-hero--dark';
}
if (mediaFront) {
	cssClasses = cssClasses + ' simple-hero--media';
}
if (lottieFile) {
	cssClasses = cssClasses + ' simple-hero--lottie';
}
---

<section class={cssClasses}>
	<div class={wrapper}>
		{ lottieFile && 
		<div
			data-lg-lottie=`/animations/${lottieFile}` 
			data-lg-lottie-autoplay="true"
			data-lg-lottie-loop="true"></div>
		}
		{
			tagline && (
				<p class='simple-hero-tagline' data-lg-reveal='fade'>
					{tagline}
				</p>
			)
		}
		<h1 data-splitting data-lg-reveal='fade' data-lg-reveal-stagger='0.05' class='simple-hero-h1' set:html={title} />
		{
			description && (
				<p data-lg-reveal='fade' data-lg-reveal-delay='.1' class='simple-hero-description'>
					{description}
				</p>
			)
		}
		{
			mediaFront && (
				<div class='simple-hero-media' data-lg-reveal='fade' data-lg-reveal-stagger='.1'>
					<Img src={mediaBack} alt='' placeholder='none' />
					<div data-lg-parallax data-lg-parallax-amplitude='0.3'>
						<Img src={mediaMiddle} alt='' placeholder='none' />
					</div>
					<div data-lg-parallax data-lg-parallax-amplitude='0.15' data-lg-parallax-anchor='bottom'>
						<Img src={mediaFront} alt='' placeholder='none' />
					</div>
				</div>
			)
		}
	</div>
</section>
