---
import { Picture } from 'astro:assets';
import readingTime from 'reading-time';

export interface Props {
	post: object;
}
const { post = {} } = Astro.props;
const requestCategories = await fetch(`${import.meta.env.PUBLIC_WP_URL}/categories?per_page=100`);
const categories = await requestCategories.json();
---

<article class='archive-tease'>
	<a data-astro-prefetch href=`/blog/${post.slug}/` class='media' transition:name=`hero-${post.id}`>
		<Picture src={post.fimg_url} alt={post.title.rendered} loading='lazy'  inferSize />
	</a>
	<div class='text'>
		<p class='text-meta'>
			<span>
				{new Date(post.date).toLocaleDateString('en-us', { year: 'numeric', month: 'short', day: 'numeric' })}
			</span>
			<span>{readingTime(post.content.rendered).text}</span>
			<span>{categories.find((cat) => cat.id === post.categories[0]).name}</span>
		</p>
		<h2 class='h5' transition:name=`heading-${post.id}`>
			<a href=`/blog/${post.slug}/` set:html={post.title.rendered} />
		</h2>
		<div set:html={post.excerpt.rendered} />
	</div>
</article>
