---
import Layout from "../../Base.astro";
import { Picture } from "astro-imagetools/components";
const workResponse = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=100`);
const posts = await workResponse.json();
const tagsResponse = await fetch(`${import.meta.env.PUBLIC_WP_URL}/tags?per_page=100`);
const tags = await tagsResponse.json();
---

<Layout title='Our Work'>
	<article class="archive">
		<div class='wrapper wrapper--narrow'>
			<h1 style="margin-top: 8rem;" data-splitting data-lg-reveal="fade" data-lg-reveal-stagger="0.05">Our Work in the Real-world</h1>
			<p style="max-width: 800px; flex: 1 1 500px; font-size: var(--step-1)" data-lg-reveal="fade" data-lg-reveal-delay=".5">
				The proof is in the pudding as they say here in the south. 	Weird sayings aside, it’s one thing to have a good strategy, but it takes special talent to create excellent content
				<small>(and good pudding)</small>. Take a look at some recent work below.
			</p>
		</div>
		<div class="wrapper archive-list">
			<label data-lg-reveal="fade" style="max-width: 260px;
			display: block; margin-left: auto; margin-bottom: 4rem;"><b>Filter by</b><br>
				<select class="work-post-filter">
					<option value="">— Type of work done —</option>
					{tags.map(
						(tag) => 
							tag.count > 0 && (
								<option value=`/work/${tag.slug}`>{tag.name}</option>
							)
						)
					}
				</select>
			</label>
				{
					posts.map((post) => (
						<article data-tags={post.tags.join(',')} data-lg-reveal="layer-to-right" data-lg-reveal-stagger="0.2">
							<div class="media">
								<Picture src={post.fimg_url} alt={post.title.rendered} loading="lazy" />
							</div>
							<div class="text">
								<h2 class="h4"><a href=`/work/${post.slug}` set:html={post.title.rendered}/></h2>
								<div set:html={post.excerpt.rendered} />
							</div>
						</article>
					))
				}
		</div>
	</article>
</Layout>