---
import Layout from "../../Base.astro";
import { Picture } from "astro:assets";
const workResponse = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=100`);
const posts = await workResponse.json();
const tagsResponse = await fetch(`${import.meta.env.PUBLIC_WP_URL}/tags?per_page=100`);
const tags = await tagsResponse.json();
---

<Layout title='Our Work' bodyClass="work-archive">
	<article class="archive">
		<div class='wrapper wrapper--narrow'>
			<h1 style="margin-top: 8rem;" data-lg-reveal="fade" data-lg-reveal-stagger="0.05"><span>Our</span> <span>Work</span> <span>in</span> <span>the</span> <span>Real-world</span></h1>
			<p style="max-width: 800px; flex: 1 1 500px; font-size: var(--step-1)" data-lg-reveal="fade" data-lg-reveal-delay=".5">
				<span>The</span> <span>proof</span> <span>is</span> <span>in</span> <span>the</span> <span>pudding</span> <span>as</span> <span>they</span> <span>say</span> <span>here</span> <span>in</span> <span>the</span> <span>south.</span> <span>	Weird</span> <span>sayings</span> <span>aside,</span> <span>it’s</span> <span>one</span> <span>thing</span> <span>to</span> <span>have</span> <span>a</span> <span>good</span> <span>strategy,</span> <span>but</span> <span>it</span> <span>takes</span> <span>special</span> <span>talent</span> <span>to</span> <span>create</span> <span>excellent</span> <span>content
				<small>(and</span> <span>good</span> <span>pudding)</small>.</span> <span>Take</span> <span>a</span> <span>look</span> <span>at</span> <span>some</span> <span>recent</span> <span>work</span> <span>below.</span>
			</p>
		</div>
		<div class="wrapper archive-list">
			<label data-lg-reveal="fade" style="max-width: 260px;
			display: block; margin-left: auto; margin-bottom: 4rem;"><b>Filter by</b><br>
				<select class="work-post-filter">
					<option value="">— Type of work done —</option>
					{tags.map(
						(tag) => 
							tag.count > 0 && (
								<option value=`/work/${tag.slug}/`>{tag.name}</option>
							)
						)
					}
				</select>
			</label>
				{
					posts.map((post) => (
						<article class="tease" data-tags={post.tags.join(',')}>
							<a href=`/work/${post.slug}/` class="media" transition:name=`hero-${post.id}`  data-lg-reveal="layer-to-right">
								<Picture src={post.fimg_url} alt={post.title.rendered} loading="lazy"  inferSize />
							</a>
							<div class="text">
								<h2 class="h4" transition:name=`heading-${post.id}`><a href=`/work/${post.slug}/` set:html={post.title.rendered}/></h2>
								<div data-lg-reveal="layer-to-right" set:html={post.excerpt.rendered} />
							</div>
						</article>
					))
				}
		</div>
	</article>
</Layout>

<style lang="scss" is:global>
	.tease {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 6rem;
		margin-bottom: 16rem;
		@media (max-width: 900px) {
			display: block;
		}
		@media (max-width: 767px) {
			margin-bottom: 7rem;
		}
		.media {
			flex: 1 1 400px;
			text-align: center;
			picture {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.text {
			flex: 1 1 400px;
		}
		&:nth-child(even) {
			.media {
				order: 1;
			}
		}
	}
</style>
<script>
	document.addEventListener('astro:page-load', () => {
		const workPostFilter = document.querySelector('.work-post-filter');
		workPostFilter?.addEventListener('change', function (event) {
			window.location.href = event.target.value;
		});
	});
</script>