---
import Layout from "../../Base.astro";
import { Picture } from "astro-imagetools/components";
const response = await fetch(`${import.meta.env.PUBLIC_WP_URL}/work?per_page=10`);
const posts = await response.json();
---

<Layout title='Our Work'>
	<article class="archive">
		<div class='wrapper wrapper--narrow' data-lg-reveal="fade" data-lg-reveal-stagger="0.4">
			<h1 style="margin-top: 8rem;">Our Work in the Real-world</h1>
			<p style="margin-left: auto; font-size: var(--step-1)">
				The proof is in the pudding as they say here in the south. 	Weird sayings aside, it’s one thing to have a good
				strategy, but it takes special talent to create excellent content
				<small>(and good pudding)</small>. Take a look at some recent work below.</p>
		</div>
		<div class="wrapper archive-list">
				{
					posts.map((post) => (
						<article data-lg-reveal="layer-to-right" data-lg-reveal-stagger="0.2">
							<div class="media">
								<Picture src={post.fimg_url} alt={post.title.rendered} loading="lazy" />
							</div>
							<div class="text">
								<h2 class="h4"><a href=`/work/${post.slug}` set:html={post.title.rendered}/></h2>
								<div set:html={post.excerpt.rendered} />
							</div>
						</article>
					))
				}
		</div>
	</article>
</Layout>